img {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(117, 112, 101);
    border-radius: 20%;
}

p {
    background-color: rgb(185, 182, 175);
}
body {
    background-color: rgb(160, 230, 10)
}

table,
th,
td {
    border: 1px solid black;
}
